#tweeting{
  background-color:white;
  font-family:'Papyrus',fantasy;
  text-align:center;
  font-size:30px;
  color:black;
  padding-top:5px;
}

#input_twitter{
  background-color:white;
  text-align:center;
  font-family:'Copperplate',fantasy;
  font-size:30px;
  color:blue;
  height:5px;
  padding-top:250px;
}

#counter{
  background-color:white;
  text-align:center;
  font-family:'Arial Black',sans-serif;
  font-size: 40px;
  color:black;
  height:30px;
  padding-top:50px; 